body {
  padding: 10px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px;
}

.user {
  color: blue;
}

.tweet {
  padding: 5px;
}

.date {
  padding: 5px;
  font: 10px "Courier", Helvetica, Arial, sans-serif;
}