body {
  padding: 10px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px;
}

.tweetBody {
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	padding: 3px;
	background-color: white;
}

.topContainer {
	margin: 5px;
	padding: 3px;
	background-color: #E8D7B3;
}

.tweetContainer {
	background-color: #D6D0E8;
	border-radius: 8px;
	padding: 5px;

}

.user {
  color: blue;
}

.tweet {
  padding: 5px;
}

.date {
  padding: 5px;
  font: 10px "Courier", Helvetica, Arial, sans-serif;
}

